<h1>Files</h1>
<p><%= link_to 'Send new log file', new_log_file_path %></p>
<p><%= link_to 'Home', root_path %></p>
<br />
<h2>All log files<h2>
<table class="table">
<thead>
  <tr>
    <th>File name</th>
    <th>Status</th>
    <th></th>
  </tr>
</thead>
<tbody>
  <% @log_files.each do |log_file| %>
    <tr>
      <td><%= link_to log_file.name, log_file_path(log_file) %></td>
      <td><%= log_file.status %></td>
    </tr>
  <% end %>
</tbody>
</table>