<%= form_with model: @log_file do |f| %>
  <% if @log_file.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@log_file.errors.count, "error") %> prohibited this log file from being saved:</h2>

      <ul>
        <% @log_file.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :quake_log %>
    <%= f.file_field :quake_log, multiple: false %>
  </div>
  <br />
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
