File name: <%= @log_file.name %>
<br />
<% if @log_file.status == 'finished' %>
<%= link_to 'Download kills report', kills_report_log_file_path, format: :json, target: "_blank" %>
<br />
<%= link_to 'Download kills by cause', kills_report_by_cause_log_file_path, format: :json, target: "_blank" %>
<% else %>
Processing report
<% end %>

<br />
<br />
<%= link_to 'Upload new log', new_log_file_path %> | <%= link_to 'Back to log files', log_files_path %> | <%= link_to 'Home', root_path %>